html {
    font-family: sans-serif;
    line-height: 1.15;
}

body {
    background: #533f03;
}

footer {
    margin-top: 75px;
}

.wrapper {
    border: 10px solid black;
    border-radius: 20px;
    padding: 30px;
    height: auto;
    background: burlywood;
}

footer .wrapper {
    border: 5px solid black;
}

footer .sub-wrapper {
    margin-top: 0;
}

.sub-wrapper {
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 30px;
    background-color: white;
    vertical-align: center;
}

.hanging-man-image {
    margin-top: 50px;
}

.title-div {
    font-size: 50px;
    text-align: center;
    font-style: italic;
    font-weight: bolder;
}

.choose-lang-title {
    font-size: 30px;
    font-style: italic;
}

.choose-lang-div {
    margin-top: 20px;
}

.start-button-div {
    margin-top: 50px;
    margin-left: 45%;
}

.finish-title {
    font-size: 80px;
    font-style: italic;
    opacity: 0.5;
}

.new-game-button-div {
    margin-top: 50px;
    margin-left: 40%;
}